# You can override the included template(s) by including variable overrides
# See https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#priority-of-environment-variables
stages:
- test
- deploy
- build_docker

test/python36:
  stage: test
  image: python:3.6
  script:
  - apt update --yes && apt upgrade --yes
  - apt install --yes ncat openssl
  - pip install tox
  - tox -e py36

test/python37:
  stage: test
  image: python:3.7
  script:
  - apt update --yes && apt upgrade --yes
  - apt install --yes ncat openssl
  - pip install tox
  - tox -e py37

test/python38:
  stage: test
  image: python:3.8
  script:
  - apt update --yes && apt upgrade --yes
  - apt install --yes ncat openssl
  - pip install tox
  - tox -e py38

test/python39:
  stage: test
  image: python:3.9
  script:
  - apt update --yes && apt upgrade --yes
  - apt install --yes ncat openssl
  - pip install tox
  - tox -e py39

sast:
  stage: test

include:
- template: Security/SAST.gitlab-ci.yml

pages:
  stage: deploy
  image: python:3.7
  script:
  - apt update --yes && apt upgrade --yes
  - apt install --yes build-essential libssl-dev libffi-dev python-dev libgmp-dev libmpfr-dev libmpc-dev
  - pip install .
  - pip install sphinx sphinx-argparse sphinx_rtd_theme
  - sphinx-build docs/ docs/_build/html
  - mv docs/_build/html public
  artifacts:
    paths:
    - public
  only:
  - master

pypi:
  stage: deploy
  image: python:3.9
  rules:
  - if: $CI_COMMIT_TAG =~ /^v\d+.\d+.\d+/
    when: on_success
  script:
  - pip install twine
  - python setup.py sdist bdist_wheel
  - python -m twine upload dist/*

docker:
  stage: build_docker
  image: python:3.9
  rules:
  - if: $CI_COMMIT_TAG =~ /^v\d+.\d+.\d+/
    when: on_success
  script:
  - apt update --yes && apt upgrade --yes
  - apt install --yes buildah runc
  - buildah bud -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
  - echo $CI_REGISTRY_PASSWORD | buildah login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - buildah push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG

