[ default ]
name                    = issuing-ca
domain_suffix           = localhost
aia_url                 = http://crl.localhost/inter-ca-rsa.crt
crl_url                 = http://crl.localhost/inter-ca-rsa.crl
ocsp_url                = http://ocsp.localhost
default_ca              = ca_issuing
name_opt                = utf8,esc_ctrl,multiline,lname,align

[ ca_issuing ]
dir               = .
database          = $dir/db/index
serial            = $dir/db/serial
crlnumber         = $dir/db/crlnumber
private_key       = $dir/private/$name.key
certificate       = $dir/certs/$name.crt
RANDFILE          = $dir/private/random
new_certs_dir     = $dir/issuedcerts
unique_subject    = no
copy_extensions   = none
default_days      = 365
default_crl_days  = 30
default_md        = sha256
preserve          = no
policy            = policy_loose

[ policy_loose ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ crl_info ]
URI.0                   = $crl_url

[ issuer_info ]
caIssuers;URI.0         = $aia_url
OCSP;URI.0              = $ocsp_url

[ ocsp_ext ]
basicConstraints 	= critical, CA:FALSE
keyUsage 		= critical, digitalSignature
extendedKeyUsage 	= OCSPSigning
subjectKeyIdentifier 	= hash
authorityKeyIdentifier 	= keyid:always
noCheck          	= yes
certificatePolicies	= 2.23.140.1.2.1

[ client_ext ]
basicConstraints        = critical,CA:FALSE
keyUsage                = critical, digitalSignature
extendedKeyUsage        = clientAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always
authorityInfoAccess     = @issuer_info
crlDistributionPoints   = @crl_info
certificatePolicies	= 2.23.140.1.2.1

[ server_ext ]
basicConstraints        = critical,CA:FALSE
extendedKeyUsage        = serverAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always
authorityInfoAccess     = @issuer_info
crlDistributionPoints   = @crl_info
certificatePolicies	= 2.23.140.1.2.1
